.well span {
  font-size: 30px;
  color: #6f6666;
}


ul {
  list-style: none;
  padding: 0;
}

ul li {
  width: 100%;
  border-bottom: 1px solid #ddd;
  padding: 10px 25px 14px;
}

input[type=checkbox] {
  margin-right: 17px;
}